VITE_APP_NAME=Enjambre EAFIT
VITE_APP_INSTITUTION=Universidad EAFIT
VITE_APP_DESCRIPTION=Plataforma para centralizar y gestionar la información de los Grupos Estudiantiles de la Universidad EAFIT.

# URL base de la API del backend (NestJS con prefijo global 'api')
VITE_API_URL=http://localhost:3000/api
